<div *ngIf="pago">
  <div class="container">
  <br>
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #nombreSocio
            [(ngModel)]="pago.nombreSocio"
            readonly
          />
          <label for="floatingInput">Nombre del Socio</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #categoriaTipo
            [(ngModel)]="pago.categoriaTipo"
            readonly
          />
          <label for="floatingInput">Tipo de Categoria</label>
        </div>
      </div>
    </div>

    <br>

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #nombreSocio
            [(ngModel)]="pago.categoriaCosto"
            readonly
          />
          <label for="floatingInput">Costo de Categoria</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #montoPago
            [(ngModel)]="pago.frecuenciaPago"
            readonly
          />
          <label for="floatingInput">Frecuencia de Pago</label>
        </div>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #nombreSocio
            [(ngModel)]="pago.montoPagado"
            readonly
          />
          <label for="floatingInput">Monto Pagado</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #montoPago
            [(ngModel)]="pago.montoFaltante"
            readonly
          />
          <label for="floatingInput">Monto Faltante</label>
        </div>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            id="fechaPago"
            [(ngModel)]="pago.fechaPago"
            readonly
          />
          <label for="floatingInput">Fecha del Pago</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            [(ngModel)]="pago.fechaPagoSiguiente"
            id="fechaPagoSiguiente"
          />
          <label for="floatingInput">Fecha del Proximo Pago</label>
        </div>
      </div>
    </div>

    <br />

    <div class="mb-3">
      <textarea
        class="form-control"
        placeholder="Comentario"
        id="exampleFormControlTextarea1"
        rows="3"
        [(ngModel)]="pago.comentario"
      ></textarea>
    </div>

    <button type="button" class="btn btn-primary" (click)="guardar()">
      Actualizar
    </button>

    <button type="button" class="btn btn-secundary">
      <a [routerLink]="['/pagos']" style="text-decoration: none">Cancelar</a>
    </button>
  </div>
</div>
