<div class="container">
  <br />

  <div class="form-group">
    <label>Socio</label>
    <select
      class="form-control select2 select2-hidden-accessible"
      style="width: 100%"
      tabindex="-1"
      aria-hidden="true"
    >
      <option value="default">N/A</option>
      <option
        *ngFor="let socio of socios"
        [value]="socio.nombre + ' ' + socio.apellido"
        [attr.data-socio-nombre]="socio.nombre + ' ' + socio.apellido"
        [attr.data-pagoCategoria]="socio.pagoCategoria"
        [attr.data-pagoFrecuencia]="socio.pagoFrecuencia"
      >
        {{ socio.nombre }} {{ socio.apellido }}
        <!-- {{ socio.nombre }} {{ socio.apellido }}| {{ socio.pagoCategoria }} |
        {{ socio.pagoFrecuencia }} -->
      </option>
    </select>
  </div>
  <!-- 
  <br />

  <h3>Seleccionaste {{ socioNombre }}</h3>
 -->

  <br />
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="nombreSocio"
            #nombreSocio
            formControlName="nombreSocio"
            readonly
            name="nombreSocio"
            value="{{ socioNombre }}"
            
          />
          <label for="floatingInput">Nombre Socio</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="monto"
            aria-describedby="monto"
            #monto
            formControlName="monto"
            required
          />
          <label for="floatingInput">Monto</label>
        </div>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            id="fechaPago"
            #fechaPago
            formControlName="fechaPago"
            required
          />
          <label for="floatingInput">Fecha del Pago</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            id="fechaPagoSiguiente"
            #fechaPagoSiguiente
            formControlName="fechaPagoSiguiente"
            required
          />
          <label for="floatingInput">Fecha del Proximo Pago</label>
        </div>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="categoriaPago"
            #categoriaPago
            formControlName="categoriaPago"
            
            value="{{ socioCategoriaPago }}"
            readonly
          />
          <label for="floatingInput">Categoria del Pago</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            value="{{ socioFrecuenciaPago }}"
            id="frecuenciaPago"
            #frecuenciaPago
            formControlName="frecuenciaPago"
            value="{{ socioFrecuenciaPago }}"
            readonly
          />
          <label for="floatingInput">Frecuencia del Pago</label>
        </div>
      </div>
    </div>

    <br />

    <div class="mb-3">
      <textarea
        class="form-control"
        placeholder="Comentario"
        id="exampleFormControlTextarea1"
        rows="3"
        formControlName="comentario"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!formulario.valid"
    >
      Ingresar
    </button>

    <button type="button" class="btn btn-secundary">
      <a [routerLink]="['/pagos']" style="text-decoration: none">Cancelar</a>
    </button>
  </form>
</div>
