<!-- <div class="container">
    <table datatable  class="row-border hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Club Name</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of jsonData">
            <td>{{item.playerName}}</td>
            <td>{{item.playerCountry}}</td>
            <td>{{item.playerClub}}</td>
        </tr>
        </tbody>
    </table>
</div> -->

<div class="container">
    <table datatable  class="row-border hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Empresa</th>
            <th>Opciones</th>
        </thead>
        <tbody>
        <tr *ngFor="let socio of socios">
            <td>{{socio.nombre}}</td>
            <td>{{socio.apellido}}</td>
            <td>{{socio.cargo}}</td>
            <td>{{socio.empresa}}</td>
            <td><button class="btn-primary" [class.selected]="socio === socioSeleccionado" type="button" routerLink="/detalle/{{socio.id}}" routerLinkActive="router-link-active"  (click)="onSelect(socio)">Editar</button></td>
        </tr>
        </tbody>
    </table>
</div>