<div class="container">
  <br />
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="nombre"
            #socioNombre
            formControlName="nombre"
            required
            name="nombre"
          />

          <!-- <div *ngIf="nombre && nombre.invalid" class="alert alert-danger">
            Name is required
          </div> -->

          <label for="floatingInput">Nombre</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="apellido"
            #socioApellido
            formControlName="apellido"
            required
          />
          <label for="floatingInput">Apellido</label>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <br />
      <input
        type="email"
        class="form-control"
        id="emailInput"
        #socioCorreo
        formControlName="correo"
        placeholder="Correo Electronico"
        aria-describedby="emailHelp"
        required
      />
    </div>

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            #socioEmpresa
            formControlName="empresa"
            required
          />
          <label for="floatingInput">Empresa</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #socioCargo
            formControlName="cargo"
            required
          />
          <label for="floatingInput">Cargo</label>
        </div>
      </div>
    </div>

    <br />

    <!-- <div class="form-floating mb-3">
      <input
        class="form-control"
        list="datalistOptions"
        id="exampleDataList floatingInput"
        placeholder="Busqueda de Departamento"
        #socioDepartamento
      />
      <datalist id="datalistOptions">
        <option value="Chinandega"></option>
        <option value="Leon"></option>
        <option value="Managua"></option>
        <option value="Masaya"></option>
        <option value="Carazo"></option>
        <option value="Granada"></option>
        <option value="Rivas"></option>
        <option value="Madriz"></option>
        <option value="Esteli"></option>
        <option value="Matagalpa"></option>
        <option value="Boaco"></option>
        <option value="Chontales"></option>
        <option value="Jinotega"></option>
        <option value="RAAN"></option>
        <option value="RAAS"></option>
      </datalist>

      <label for="floatingInput">Departamento</label>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Sexo</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Escoge...</option>
        <option value="1">Hombre</option>
        <option value="2">Mujer</option>
        <option value="3">Otro</option>
      </select>
    </div> -->

    <div class="row g-2">
      <div class="col-md">
        <input
          type="text"
          class="form-control"
          id="emailInput"
          placeholder="Telefono Celular"
          aria-describedby="phone"
          #socioTelefonoCel
          formControlName="telefonoCel"
          required
        />
      </div>

      <div class="col-md">
        <input
          type="text"
          class="form-control"
          id="emailInput"
          placeholder="Telefono Empresa"
          aria-describedby="phone"
          #socioTelefonoEmpresa
          formControlName="telefonoEmp"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <br />
      <input
        type="text"
        class="form-control"
        id="emailInput"
        placeholder="Cedula"
        aria-describedby="cedula"
        #socioCedula
        formControlName="cedula"
        required
      />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Comentario</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        formControlName="comentario"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!formulario.valid"
    >
      Ingresar
    </button>
  </form>
</div>
