<div class="container">
  <br />
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="nombre"
            #socioNombre
            formControlName="nombre"
            required
            name="nombre"
          />

          <!-- <div *ngIf="nombre && nombre.invalid" class="alert alert-danger">
            Name is required
          </div> -->

          <label for="floatingInput">Nombre</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="apellido"
            #socioApellido
            formControlName="apellido"
            required
          />
          <label for="floatingInput">Apellido</label>
        </div>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="emailInput"
            aria-describedby="cedula"
            #socioCedula
            formControlName="cedula"
            required
          />
          <label for="floatingInput">Cedula</label>
        </div>
      </div>

      <div class="input-group col-md">
        <label class="input-group-text" for="inputGroupSelect01">Sexo</label>
        <select
          class="form-select"
          id="inputGroupSelect01"
          formControlName="sexo"
          #socioSexo
          required
          id="inputGroupSelect01"
        >
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="emailInput"
            #socioCorreo
            formControlName="correo"
            aria-describedby="emailHelp"
            required
          />
          <label for="floatingInput">Email</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            id="floatingInput"
            #socioIngreso
            formControlName="ingreso"
            required
          />
          <label for="floatingInput">Fecha de Ingreso</label>
        </div>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="col-md input-group">
          <label class="input-group-text" for="inputGroupSelect01"
            >Categoria de pago</label
          >
          <select
            class="form-select"
            id="inputGroupSelect01"
            formControlName="categoria"
            #pagoCategoria
            required
          >
            <option value="Tipo A">Tipo A</option>
            <option value="Tipo B">Tipo B</option>
            <option value="Tipo C">Tipo C</option>
            <option value="Tipo D">Tipo D</option>
          </select>
        </div>
      </div>

      <div class="col-md input-group">
        <label class="input-group-text" for="inputGroupSelect01"
          >Frecuencia de pago</label
        >
        <select
          class="form-select"
          id="inputGroupSelect01"
          formControlName="frecuencia"
          #pagoFrecuencia
          required
        >
          <option value="Mensual">Mensual</option>
          <option value="BI-Mensual">Bimensual</option>
          <option value="Trimestral">Trimestral</option>
          <option value="Anual">Anual</option>
        </select>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #socioCargo
            formControlName="cargo"
            required
          />
          <label for="floatingInput">Cargo</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            #socioEmpresa
            formControlName="empresa"
            required
          />
          <label for="floatingInput">Empresa</label>
        </div>
      </div>
    </div>

    <br />

    <!-- <div class="form-floating mb-3">
      <input
        class="form-control"
        list="datalistOptions"
        id="exampleDataList floatingInput"
        placeholder="Busqueda de Departamento"
        #socioDepartamento
      />
      <datalist id="datalistOptions">
        <option value="Chinandega"></option>
        <option value="Leon"></option>
        <option value="Managua"></option>
        <option value="Masaya"></option>
        <option value="Carazo"></option>
        <option value="Granada"></option>
        <option value="Rivas"></option>
        <option value="Madriz"></option>
        <option value="Esteli"></option>
        <option value="Matagalpa"></option>
        <option value="Boaco"></option>
        <option value="Chontales"></option>
        <option value="Jinotega"></option>
        <option value="RAAN"></option>
        <option value="RAAS"></option>
      </datalist>

      <label for="floatingInput">Departamento</label>
    </div>
  -->

    <div class="row g-2">
      <div class="col-md">
        <input
          type="text"
          class="form-control"
          id="emailInput"
          placeholder="Telefono Celular"
          aria-describedby="phone"
          #socioTelefonoCel
          formControlName="telefonoCel"
          required
        />
      </div>

      <div class="col-md">
        <input
          type="text"
          class="form-control"
          id="emailInput"
          placeholder="Telefono Empresa"
          aria-describedby="phone"
          #socioTelefonoEmpresa
          formControlName="telefonoEmp"
          required
        />
      </div>
    </div>

    <br />

    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="direccionInput"
        placeholder="Direccion"
        formControlName="direccion"
        required
      />
    </div>

    <div class="mb-3">
      <textarea
        class="form-control"
        placeholder="Comentario"
        id="exampleFormControlTextarea1"
        rows="3"
        formControlName="comentario"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!formulario.valid"
    >
      Ingresar
    </button>
  </form>
</div>
