<div class="container">
    <br>
    <form>
        <div class="row g-2">
            <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="nombre">
                <label for="floatingInput">Nombre</label>
            </div>
            </div>
            <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="apellido">
                <label for="floatingInput">Apellido</label>
            </div>
            </div>
        </div>

        <div class="mb-3">
            <br/>
            <input type="email" class="form-control" id="emailInput" placeholder="Correo Electronico" aria-describedby="emailHelp">
        </div>

        <div class="row g-2">
            <div class="col-md">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput">
                <label for="floatingInput">Empresa</label>
            </div>
            </div>
            <div class="col-md">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput">
                <label for="floatingInput">Cargo</label>
            </div>
            </div>
        </div>

        <br/>

        <!-- <div class="form-floating mb-3">
            <input class="form-control" list="datalistOptions" id="exampleDataList floatingInput" placeholder="Busqueda de Departamento">
            <datalist id="datalistOptions">
                <option value="Chinandega">
                <option value="Leon">
                <option value="Managua">
                <option value="Masaya">
                <option value="Carazo">
                <option value="Granada">
                <option value="Rivas">
                <option value="Madriz">
                <option value="Esteli">
                <option value="Matagalpa">
                <option value="Boaco">
                <option value="Chontales">
                <option value="Jinotega">
                <option value="RAAN">
                <option value="RAAS">
            </datalist>
            <label for="floatingInput">Departamento</label>
        </div> -->
<!-- 
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Sexo</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Escoge...</option>
                <option value="1">Hombre</option>
                <option value="2">Mujer</option>
                <option value="3">Otro</option>
            </select>
        </div> -->

        <div class="row g-2">
            <div class="col-md">
                <input type="text" class="form-control" id="emailInput" placeholder="Telefono Celular" aria-describedby="phone">
            </div>
    
            <div class="col-md">
                <input type="text" class="form-control" id="emailInput" placeholder="Telefono Empresa" aria-describedby="phone">
            </div>
        </div>

        <div class="mb-3">
            <br/>
            <input type="text" class="form-control" id="emailInput" placeholder="Cedula" aria-describedby="cedula">
        </div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</div>