<div class="container">
  <button class="btn btn-primary" routerLink="/pagos-nuevo">Nuevo</button>
</div>
<br />
<div *ngIf="tabla">
  <div class="container">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th>Socio</th>
          <th>Monto Pagado</th>
          <th>Monto Restante</th>
          <th>Fecha de Pago</th>
          <th>Proximo Pago</th>
          <th>Frecuencia de Pago</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let pago of pagos">
          <td #nombreSocio>{{ pago.nombreSocio }}</td>
          <td>{{ pago.montoPagado }}</td>
          <td>{{ pago.montoFaltante }}</td>
          <td>{{ pago.fechaPago }}</td>
          <td>{{ pago.fechaPagoSiguiente }}</td>
          <td>{{ pago.frecuenciaPago }}</td>
          <td>
            <button
              class="btn btn-primary"
              [class.selected]="pago === pagoSeleccionado"
              type="button"
              routerLink="/pago-detalle/{{ pago.id }}"
              routerLinkActive="router-link-active"
              (click)="onSelect(pago)"
            >
              Editar
            </button>

            <button
              class="btn btn-danger"
              type="button"
              title="Eliminar Pago"
              (click)="eliminar(pago)"
            >
              Eliminar
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
