<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        [routerLink]="['/inicio']"
        routerLinkActive="router-link-active"
      >
        <img src="./assets/img/aerhnic-logo.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="active nav-button btn btn-primary"
              aria-current="page"
              [routerLink]="['/inicio']"
              routerLinkActive="router-link-active"
              >Inicio</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="active nav-button btn btn-primary dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Ver
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/socios']"
                  routerLinkActive="router-link-active"
                  >Socios</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/empresas']"
                  routerLinkActive="router-link-active"
                  >Empresas</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/categoria']"
                  routerLinkActive="router-link-active"
                  >Categoria</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/pagos']"
                  routerLinkActive="router-link-active"
                  >Pagos</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="active nav-button btn btn-primary dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Nuevo
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/nuevo']"
                  routerLinkActive="router-link-active"
                  >Socios</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/empresa-nuevo']"
                  routerLinkActive="router-link-active"
                  >Empresas</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/categoria-nuevo']"
                  routerLinkActive="router-link-active"
                  >Categoria</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/pagos-nuevo']"
                  routerLinkActive="router-link-active"
                  >Pago</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="active nav-button btn btn-primary"
              aria-current="page"
              [routerLink]="['/cumple']"
              routerLinkActive="router-link-active"
              >Calendario</a
            >
          </li>
          <li class="nav-item">
            <a
              class="active nav-button btn btn-primary"
              aria-current="page"
              (click)="
                goToLink(
                  'https://docs.google.com/document/d/1YEO_Mgfhlciw73w63dYTUr-oVWqoOhLN5NLgTbwztxw/edit?usp=sharing'
                )
              "
              >Documentacion</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
