<div class="div-azul">
    <div class="d-flex justify-content-center">
        <div class="div-blanco">
            <div class="div-logo text-center">
                <!-- <a class="navbar-brand"  [routerLink]="['/inicio']" routerLinkActive="router-link-active"> -->
                <a class="navbar-brand" >
                <img src="./assets/img/aerhnic-logo.png" alt="logo">
                </a>
            </div>
            <div class="div-text text-center">
                <h6>Para ingresar al sistema, porfavor escriba su datos</h6>
            </div>
            <form class="form-login">
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Nunca compartas tu datos personales con nadie.</div>
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary btn-submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>