<div class="container">
  <br />
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="nombreCategoria"
            #nombreCategoria
            formControlName="nombreCategoria"
            required
            name="nombreCategoria"
          />
          <label for="floatingInput">Tipo</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="precioCategoria"
            #precioCategoria
            formControlName="precioCategoria"
            required
          />
          <label for="floatingInput">Monto de Categoria</label>
        </div>
      </div>
    </div>

    <br />

    <br />

    <div class="mb-3">
      <textarea
        class="form-control"
        placeholder="Comentario"
        id="exampleFormControlTextarea1"
        rows="3"
        formControlName="comentarioCategoria"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!formulario.valid"
    >
      Ingresar
    </button>
    <button type="button" class="btn btn-secundary">
      <a [routerLink]="['/categoria']" style="text-decoration: none"
        >Cancelar</a
      >
    </button>
  </form>
</div>
