<div class="container">
  <br />
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="empresaNombre"
            #empresaNombre
            formControlName="nombreEmpresa"
            required
            name="nombreEmpresa"
          />

          <label for="floatingInput">Nombre Empresa</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="emailInput"
            aria-describedby="telefonoEmpresa"
            #socioCedula
            formControlName="telefonoEmpresa"
            required
          />
          <label for="floatingInput">Telefono de la Empresa</label>
        </div>
      </div>
    </div>

    <br />

    <div class="row g-2">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="empresaDireccion"
          #empresaDireccion
          formControlName="empresaDireccion"
          required
        />
        <label for="floatingInput">Direccion de la Empresa</label>
      </div>
    </div>

    <br />

    <div class="mb-3">
      <textarea
        class="form-control"
        placeholder="Comentario"
        id="exampleFormControlTextarea1"
        rows="3"
        formControlName="empresaComentario"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!formulario.valid"
    >
      Ingresar
    </button>
    <button type="button" class="btn btn-secundary">
      <a [routerLink]="['/empresas']" style="text-decoration: none">Cancelar</a>
    </button>
  </form>
</div>
